<script>
    (function () {
        const customFont = document.createElement('link');
        customFont.href = "https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap";

        customFont.type = "text/css";
        customFont.rel = "stylesheet";

        document.head.appendChild(customFont);

        const FiraCodeLoad = document.createElement('link');
        FiraCodeLoad.href = "https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css";

        FiraCodeLoad.type = "text/css";
        FiraCodeLoad.rel = "stylesheet";

        document.head.appendChild(FiraCodeLoad);

        // const PingFangLoad = document.createElement('link');
        // PingFangLoad.href = "https://www.apple.com.cn/wss/fonts?family=SF+Pro+SC&weights=300,400,500,600&v=1";

        // PingFangLoad.type = "text/css";
        // PingFangLoad.rel = "stylesheet";

        // document.head.appendChild(PingFangLoad);
    }());
</script>